#Map-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Navbar {
  width: 20%;
  background-color: #2a3f54;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ul {
  margin: 0;
  width: 100%;
  padding-inline-start: 0;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-bottom: 100%;
}
li {
  list-style-type: none;
  text-decoration: none;
  width: 100%;
}

a {
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 50%;
  border-radius: 8px;
}

.Start-simulation {
  background-color: #b86f52;
}

.Data-analytics {
  background-color: #d2bf55;
}

.Map-Container {
  width: 80%;
}

.Map {
  overflow: hidden;
  width: 100%;
}

iframe {
  display: block; /* iframes are inline by default */
  background: #000;
  border: none; /* Reset default border */
  height: 92.8vh; /* Viewport-relative units */
}

.Map-navbar {
  height: 7vh;
  background-color: #c1eeff;
  border-width: 0;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: black;
}

.Icon {
  width: 10%;
}

.Icon-img {
  width: 100%;
}

.footerIcon-Container {
  display: flex;
  justify-content: space-around;
  background-color: #5b8cbc;
  padding: 15px;
}
